.page_faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 760px;
  gap: clamp(16px, 2.2vw, 20px);

  h1 {
    font-size: clamp(32px, 2.2vw, 38px);
    color: var(--foregroundPrimary);
  }
  @media (max-width: 940px) {
    margin-top: clamp(16px, 1.2vw, 20px);
  }
}

.accordion {
  width: 100%;
  /* background-color: var(--backgroundSecondary); */
  padding: 0px clamp(16px, 2.2vw, 20px);
  border-radius: 10px;
  /* border: 1px solid var(--separatorCommon); */
}

.item {
  border-bottom: 1px solid var(--separatorCommon);
}

.item:last-child {
  border-bottom: none;
}

.trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(16px, 2.2vw, 20px) 0;
  color: var(--foregroundSecondary);
  font-size: clamp(16px, 2.2vw, 18px);
  font-weight: 600;
  transition: all .2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

.active {
  color: #fff;
}

.content {
  overflow: hidden;
}

.text {
  padding-bottom: clamp(10px, 2.2vw, 20px);
  color: var(--foregroundPrimary);
  line-height: 1.6;
  font-size: 14px;
  margin: 0 8px;

}

.icon {
  display: flex;
  align-items: center;
  opacity: .8;
}
